<?xml version="1.0"?>
<config>
  <modules>
    <SchneidewindIt_EbizoptimiweinccTrackingServices>
      <version>1.0.0</version>
    </SchneidewindIt_EbizoptimiweinccTrackingServices>
  </modules>  
  <global>       
        <models>
            <ebizoptimiweincctrackingservices>
                <class>SchneidewindIt_EbizoptimiweinccTrackingServices_Model</class>
            </ebizoptimiweincctrackingservices> 
        </models>
        <blocks>
            <ebizoptimiweincctrackingservices>
                <class>SchneidewindIt_EbizoptimiweinccTrackingServices_Block</class>
            </ebizoptimiweincctrackingservices>
        </blocks>
        <helpers>
            <ebizoptimiweincctrackingservices>
                <class>SchneidewindIt_EbizoptimiweinccTrackingServices_Helper</class>
            </ebizoptimiweincctrackingservices>
        </helpers>
        <events>
            <controller_front_init_before>
                <observers>
                    <ebizoptimiweincctrackingservices_controller_action_predispatch>
                    <class>ebizoptimiweincctrackingservices/observer</class>
                    <method>checkCampaign</method>
                    </ebizoptimiweincctrackingservices_controller_action_predispatch>
                </observers>
            </controller_front_init_before>
	    </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <ebizoptimiweincctrackingservices module="SchneidewindIt_EbizoptimiweinccTrackingServices">
                    <file>schneidewindit/ebizoptimiweinccTrackingServices.xml</file>                                                                       
                </ebizoptimiweincctrackingservices>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ebizoptimiweincctrackingservices_config>
                                            <title>SchneidewindIt_EbizoptimiweinccTrackingServices settings</title>
                                        </ebizoptimiweincctrackingservices_config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <ebizoptimiweincctrackingservices>
                    <files>
                        <default>SchneidewindIt_EbizoptimiweinccTrackingServices.csv</default>
                    </files>
                </ebizoptimiweincctrackingservices>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <ebizoptimiweincctrackingservices_config>
            <settings>
                <enabled>1</enabled>
                <weinccttl>90</weinccttl>
            </settings>
        </ebizoptimiweincctrackingservices_config>
    </default>
</config>
